@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model SerieCreateViewModel

@if (SignInManager.IsSignedIn(User))
{
    <div class="jumbotron">

        <form asp-action="MaakSerie" asp-controller="Serie" role="form" enctype="multipart/form-data" method="post" id="SerieForm">
            <div class="form-group">
                <label asp-for="Naam"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam"></span>
            </div>

            

            @*<input id="seizoen" asp-for="Series[0].Seizoen[0].Nummer" class="form-control btn btn-outline-dark" readonly value="1" hidden />*@

            <div id="seizoenPart">
                @*<input id="aflevering" asp-for="Seizoen[0].Afleveringen[0].Naam" class="form-control" hidden />*@
            </div>
            <a class="btn btn-dark text-danger"  id="addSeizoen">Add seizoen</a>
            <a class="btn btn-dark text-danger" id="addAflevering">Add aflevering</a>
            <div class="form-group">
                <input class="btn btn-dark text-danger" value="Create!"  type="submit" />

            </div>
        </form>
       @* <input class="btn btn-dark text-danger" value="Create!" onclick="Create()" />*@
    </div>


}
else
{
    <h1>Shoo!</h1>
    <p>U are not supposed to be here -_-</p>
}

