@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model SerieCreateViewModel

@if (SignInManager.IsSignedIn(User))
{
    <div class="jumbotron">
        <form asp-action="SerieCreate" asp-controller="Serie" role="form" enctype="multipart/form-data" method="post" id="Serie">
            <div class="form-group">
                <label asp-for="Naam"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam"></span>
            </div>
            <div class="form-group" id="seizoenPart">
                <a id="seizoen" asp-for="Seizoen.Hoeveelste" class="form-control btn btn-outline-dark" readonly >1</a>
            </div>
            <div class="form-group">
                <input id="aflevering" asp-for="Aflevering.Naam" class="form-control" />
            </div>
                <a class="btn btn-dark text-danger" onclick="addInputForAflevering" id="addSeizoen">+</a>
                <a class="btn btn-dark text-danger" onclick="addInputForSeizoen">+</a>
        </form>
    </div>
}
else
{
    <h1>Shoo!</h1>
    <p>U are not supposed to be here -_-</p>
}

