@model MusicArtistCreateViewModel

<div class="jumbotron">
    <form asp-action="CreateArtist" asp-controller="Music" method="post" role="form" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Naam"></label>
            <input asp-for="Naam" class="form-control" />
            <span asp-validation-for="Naam"></span>
        </div>
        <div class="form-group">
            <input class="btn btn-dark text-danger" role="button" type="submit" value="Create" />
        </div>
    </form>
</div>